.heading {
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  font-weight: var(--heading-font-weight, 600);
}

.heading--md {
  --heading-font-size: 2rem;
  --heading-line-height: 3rem;

  @media (max-width: 1023px) {
    --heading-font-size: 1.5rem;
    --heading-line-height: 2.25rem;
  }
}

.heading--lg {
  --heading-font-size: 2.5rem;
  --heading-line-height: 3.5rem;

  @media (max-width: 1023px) {
    --heading-font-size: 1.75rem;
    --heading-line-height: 2.5rem;
  }
}
