.text {
  font-size: var(--text-font-size, 1rem);
  line-height: var(--text-line-height, 1.5);

  [data-theme="dark"] &,
  &[data-theme="dark"] {
    color: white;
  }
}

.text--sm {
  --text-font-size: 0.875rem; // 14px
  --text-line-height: 1.43;
}

.text--md {
  --text-font-size: 1rem; // 16px
  --text-line-height: 1.5;
}

.text--lg {
  --text-font-size: 1.125rem; // 18px
  --text-line-height: 1.56;
}
