@import "tailwindcss";
@import "./generated/tailwind-theme.css";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}

@layer base {
  html,
  body {
    min-width: 320px;
    background-color: var(--collection-blue-default);
  }
}

@layer utilities {
  .grid-auto {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem; /* 24px */
  }
}
